@font-face {
  font-family: 'Bhavuka Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bhavuka Regular'),
    url('assets/Bhavuka-Regular.woff') format('woff');
}

* {
  box-sizing: border-box;
  font-family: 'Bhavuka Regular';
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

html,
body {
  margin: 0;
}

body {
  background: #202020;
  color: #eee;
}

h1,
h2 {
  font-size: 36px;
  text-align: center;
  color: #888;
}

p {
  font-size: 18px;
  color: #888;
}

.highlight {
  color: #eee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
